<div class="book-header" id="book-header" role="navigation">
    <a class="btn pull-left js-toolbar-action toggle-summary" href="javascript:;"><i class="fa fa-align-justify"></i></a>
    <div class="search-container">
        <input class="search-input" id="search-input" type="text" placeholder="{{if .Keyword}}{{.Keyword}}{{end}}">
        <button id="search-btn" class="btn"><i class="fa fa-search"></i></button>
    </div>
    <a class="btn pull-right js-theme-action theme-action" href="javascript:;"><i class="fa fa-sun-o"></i></a>
</div>